section.contact-footer {
  position: relative;
  padding: 30px 0;

  @include mobile {
    padding: 60px 0;
  }

  @include laptop {
    padding: 90px 0;
  }

  @include desktop {
    padding: 120px 0;
  }

  img.section-background {
    position: absolute;
    right: 0;
    top: 0;

    max-width: 100%;
    min-width: 1428px;

    @include laptop {
      top: 0;

      width: 1428px;
      min-width: 100%;
    }
  }

  .container {
    position: relative;

    .col-md-6 {
      &:nth-of-type(even) {
        padding-top: 30px;

        @include tablet {
          padding-top: 0;
        }
      }
    }
  }

  .contact-content {
    span.pretitle {
      color: $brand-primary;
      text-transform: uppercase;
    }

    h1 {
      @include tablet {
        font-size: 36px;
      }
    }

    p:last-of-type {
      margin-bottom: 30px;

      @include tablet {
        margin-bottom: 60px;
      }
    }
  }

  .contact-wrap {
    display: flex;
    flex-direction: row;

    @include tablet {
      flex-direction: column;
    }

    ul.footer-details {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        position: relative;
        padding-left: 35px;

        &::before {
          @include pseudo;

          position: absolute;
          left: 0;
          font-family: "Font Awesome 5 Pro";

          display: inline-block;
          color: $brand-primary;
          font-weight: 800;
        }

        &.email::before {
          content: "\f0e0";
        }

        &.phone::before {
          content: "\f095";
        }

        &.address::before {
          content: "\f3c5";
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      a {
        color: $brand-secondary;

        &:hover,
        &:focus {
          color: $brand-primary;
          text-decoration: underline;
        }
      }
    }

    img.contact-logo,
    ul.footer-details li {
      margin-bottom: 15px;

      @include laptop {
        margin-bottom: 25px;
      }
    }

    img.contact-logo {
      display: none;

      @include mobile {
        display: block;
        width: 125px;
        margin-right: 15px;
        align-self: flex-start;
      }

      @include tablet {
        margin-right: 0;
        width: auto;
      }
    }
  }



  input[type=submit]:not(:disabled):not(.disabled) {
    background-color: $brand-secondary;
    box-shadow: 7px 6px 27px -14px rgba(0,0,0,0.2);

    &:hover,
    &:focus {
      background-color: $brand-primary;
    }
  }
}

footer.content-info {
  background-color: $brand-secondary;
  padding: 30px 0;

  @include mobile {
    padding: 60px 0;
  }

  @include laptop {
    padding: 90px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img.footer-logo {

  }

  nav.nav-footer {
    max-width: 560px;
    width: 100%;
  }

  .menu-primary-navigation-container {
    width: 100%;
  }

  nav ul.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 15px;

    @include phablet {
      flex-direction: row;
      margin: 30px 0 45px;
    }

    li a {
      padding: 5px 0;
      color: #fff;

      @include phablet {
        padding: 0;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    ul.sub-menu {
      display: none;
    }
  }

  ul.socials {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;

    li {
      margin: 0 8px;
      a {
        background-color: #fff;
        height: 45px;
        width: 45px;
        border-radius: 180px;
        display: block;
        color: $brand-secondary;
        display: flex;

        i {
          margin: 0 auto;
          margin-top: 13px;
        }
      }
    }
  }
}

.copyright {
  background-color: #191919;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 10px 0;

  a {
    color: #fff;
  }

  .col-copyright {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
