section.fp-hero {
  background-color: #fff;
  position: relative;
  height: calc(100vh - 70px);

  @include tablet {
    height: calc(100vh - 110px);
    max-height: 1000px;
  }

  .container {
    height: 100%;
    position: relative;
    z-index: 9;
    padding-bottom: 100px;

    .cta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 15px;

      span.title,
      span.subtitle,
      .btn-container {
        position: relative;
      }

      .btn-container {
        padding-top: 15px;

        @include tablet {
          padding-top: 30px;
        }

        a.btn-blue {
          margin-left: 5px;

          @include mobile {
            margin-left: 10px;
          }
        }
      }

      i.fa-lock {
        position: absolute;
        display: none;
        // left: calc(50% - 130px);
        // font-size: 280px;
        // color: #f2f9fb;
        //
        // @include phablet {
        //   font-size: 426px;
        //   left: calc(50% - 180px);
        // }
      }
    }

    span.title,
    span.subtitle {
      display: block;
    }

    span.title {
      color: $brand-primary;
      font-family: $secondary-font;
      font-size: 36px;
      letter-spacing: -0.04em;
      text-transform: uppercase;

      @include mobile {
        font-size: 48px;
      }

      @include tablet {
        font-size: 72px;
      }
    }

    span.subtitle {
      font-size: 24px;
      line-height: 24px;
      max-width: 320px;
      display: inline-block;
      text-align: center;

      @include tablet {
        font-size: 36px;
        line-height: 36px;
        padding: 0;
        max-width: none;
        text-align: left;
      }
    }
  }

  .svg-container {
    position: absolute;
    right: 0;
    top: calc(50% - 50px);
    left: 0;
    overflow: hidden;
    bottom: 100px;


    @include tablet {
      top: 0;
      left: calc(50% - 100px);
      bottom: 150px;
    }

    @include laptop {
      bottom: 150px;
      left: 50%;
      opacity: 1;
    }

    svg {
      position: absolute;
      left: -55px;
      top: calc(50% - 1354px);
      // height: 100%;
      transform: rotate(90deg);
    }
  }

  .fp-strapline {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $brand-primary;

    @include tablet {
      height: 150px;
    }
  }
}
