section.fp-hero {
  background-color: #fff;
  position: relative;
  height: calc(100vh - 70px);
  min-height: 600px;
  max-height: 900px;

  @include tablet {
    height: calc(100vh - 110px);
    max-height: 1000px;
  }

  .hero-container {
    height: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    @media(max-width: 767px) {
      max-width: none;
    }

    @include tablet {
      align-items: flex-start;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 150px;
    }


    .fp-hero-image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: calc(100% - 100px);
      background-size: cover;
      background-position: 80% 60px;
      overflow: hidden;

      &::before {
        @include pseudo;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 45%, rgba(255,255,255,0) 100%);

        @include tablet {
          height: 2px;
          background: white;
        }
      }

      svg {
        display: none;

        @include tablet {
          display: block;
          position: absolute;
          left: -1px;
          bottom: -1px;
        }
      }

      @include tablet {
        left: 50%;
        right: auto;
        bottom: 150px;
        width: 50vw;
        height: calc(100% - 150px);
        background-position: 50% 50%;
      }
    }

    .cta {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;


      @include tablet {
        align-items: flex-start;
      }

      i.fa-lock {
        position: absolute;
        display: none;
        font-size: 300px;
        color: $offwhite;
        left: 15px;
        top: calc(50% - 150px);

        @include tablet {
          display: block;
        }

        @include laptop {
          font-size: 426.28px;
          left: 45px;
          top: calc(50% - 200px);
        }
      }

      span.title,
      span.subtitle {
        display: block;
        text-align: center;
        position: relative;

        @include tablet {
          text-align: left;
        }
      }

      span.title {
        color: $brand-primary;
        font-family: $secondary-font;
        font-size: 47px;
        line-height: 1;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        margin-bottom: 5px;

        @include tablet {
            margin-bottom: 15px;
        }
        // @include mobile {
        //   font-size: 48px;
        // }

        @include laptop {
          font-size: 72px;
        }
      }

      span.subtitle {
        font-size: 24px;
        line-height: 1;
        max-width: 320px;
        display: inline-block;

        @include laptop {
          font-size: 36px;
          padding: 0;
          max-width: 480px;
        }
      }
    }

    .btn-container {
      position: relative;
      padding-top: 30px;
      width: 284px;

      @include mobile {
        width: auto;
      }

      a.btn {
        padding: 15px 15px;

        &:nth-of-type(1) {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        &:nth-of-type(2){
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          margin-left: 0;

          @include mobile {
            margin-left: 10px;
          }
        }

        @include mobile {
          &:nth-of-type(1),
          &:nth-of-type(2) {
            border-bottom-left-radius: 45px;
            border-top-left-radius: 45px;
            border-bottom-right-radius: 45px;
            border-top-right-radius: 45px;
          }
        }
      }
    }
  }

  svg.mobile-svg {
    position: absolute;
    top: calc(50% - 244px);
    left: calc(50% - 150px);
    width: 300px;
  }

  .fp-strapline {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $brand-primary;
    display: flex;
    align-items: center;

    @include tablet {
      height: 150px;
    }
  }

  .fp-strapline {
    .strapline-container {
      display: block;

      .fas {
        color: #fff;
        position: absolute;
        top: calc(50% - 12px);
        font-size: 24px;
        font-weight: bold;
      }

      .fa-chevron-left {
        left: -15px;
      }

      .fa-chevron-right {
        right: -15px;
      }
    }

    .affiliate-wrap {
      display: flex;
      justify-content: center;
      align-items: center;

      .affiliate {
        height: 75px;
        width: 75px;
        background-size: contain;

        @include tablet {
          height: 90px;
          width: 90px;
        }

        &.affiliate-title {
          border-radius: 45px;
          font-family: $secondary-font;
          color: #fff;
          text-align: center;
          line-height: 0.8;
          font-size: 18px;
          letter-spacing: -0.05em;
          padding-top: 45px;
          position: relative;

          @include tablet {
            font-size: 22px;
          }

          span {
            display: block;
            position: relative;
            z-index: 999;
          }

          &::before {
            @include pseudo;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 45px;
            background: linear-gradient(0deg, rgba(0,0,0,0.6727065826330532) 10%, rgba(0,212,255,0) 100%);
          }
        }
      }
    }
  }
}

section.fp-services {
  position: relative;

  .background-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img.section-background {
      position: absolute;
      left: 0;
      top: 0;
      min-width: 100%;
      max-width: none;

      @include laptop {
        top: auto;
        bottom: 0;
        width: 1428px;
      }
    }

    @include laptop {
      bottom: -380px;

      &:before {
        @include pseudo;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 420px;
        background-color: #d4f1f7;
      }
    }
  }

  .container {
    position: relative;
  }

  h1,
  h2,
  span.subtitle {
    text-align: center;
    display: block;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;

    @include tablet {
      padding: 90px 15px 60px;

      h1 {
        max-width: 700px;
      }

      span.subtitle {
        max-width: 550px;
      }
    }

    @include desktop {
      padding-top: 120px;
    }
  }

  .container-services {
    @media only screen and (max-width: 990px) {
      max-width: none;

      .col-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .service {
      padding: 60px 15px;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .jumbo-bg {
        display: block;
        left: -15px;
        right: -15px;
        top: -15px;
        bottom: -15px;
        position: absolute;
        filter: blur(5px);

        &::before {
          @include pseudo;

          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }

      h2,
      span.subtitle {
        color: #fff;
        position: relative;
        max-width: 400px;
      }

      a.btn {
        position: relative;
        margin-top: 15px;
      }

      @include phablet {
        padding: 90px 15px;
      }

      @include tablet {
        height: 100%;
        padding: 70px 15px;

        h2 {
          font-size: 26px;
        }

        .jumbo-bg {
          filter: none;

          &::before {
            background-color: rgba(0, 0, 0, 0.35);
          }
        }
      }

      @include laptop {
        border-radius: 20px;

        h2 {
          font-size: $h2-size;
          margin-bottom: 15px;
        }

        a.btn {
          margin-top: 25px;
        }
      }

      @include desktop {
        padding: 70px 45px;
      }
    }
  }
}

section.fp-works {
  @include tablet {
    padding: 90px 0;
  }

  .work-row {

    @include laptop {
      padding: 60px 0;
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }

  span.subtitle {
    text-transform: uppercase;
    color: $brand-primary;
  }

  span.subtitle,
  h1,
  p {
    display: block;
    padding-bottom: 15px;
  }

  h1.h2 {
    @include tablet {
      font-size: 36px;
    }
  }
}
