header.banner {
  background-color: $white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: auto;
    position: relative;

    @include phablet {
      padding: 15px;
      height: 110px;
    }
  }

  a.brand {
    display: inline-block;
    width: 120px;

    @include phablet {
      width: 140px;
    }

    @include tablet {
      &.brand-lg {
        img {
          position: absolute;
          left: 15px;
          top: 15px;
          max-width: none;
          z-index: 999;
        }
      }
    }
  }

  ul.nav {
    display: none;

    @include laptop {
      display: flex;
    }

    li {
      @extend .nav-item;

      a {
        @extend .nav-link;

        color: $brand-secondary;
        text-transform: lowercase;

        &:hover,
        &:focus {
          color: $brand-primary;
        }
      }

      ul.dropdown-menu {
        border: transparent;
        box-shadow: 7px 6px 27px -10px rgba(0,0,0,0.4);
        li {
          &.current_page_item {
            position: relative;

            > a {
              background-color: $brand-primary;
              color: #fff;

              &::before {
                display: none;
              }
            }
          }
        }
      }

      &.current_page_item,
      &.current-menu-parent {
        position: relative;

        > a::before {
          @include pseudo;

          position: absolute;
          left: 1rem;
          right: 1rem;
          top: calc(100% - 0.5rem);
          height: 2px;
          background-color: $brand-primary;
        }
      }

      &:last-of-type {
        a {
          padding-right: 0;

          &::before {
            right: 0;
          }
        }
      }
    }
  }
}
