.blog-wrap {
  background-color: $offwhite;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.posts-container {
  padding: 0 0;

  @include mobile {
    padding: 0 15px;
  }

  h1 {
    margin-bottom: 30px;
  }

  .cardstyle,
  article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);

    @include laptop {
      padding: 25px;
      margin-bottom: 30px;
    }
  }

  article {
    height: calc(100% - 15px);

    @include laptop {
      height: calc(100% - 30px);
    }

    .img-wrap {
      height: 150px;
      margin-bottom: 15px;
      position: relative;

      @include laptop {
        height: 250px;
        margin-bottom: 25px;
      }
    }

    span.post-type {
      background-color: $offwhite;
      position: absolute;
      color: $brand-secondary;
      padding: 10px;
      left: -5px;
      top: -5px;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
      display: inline-block;
      line-height: 1;
    }
  }

  .cardstyle {
    .widget {
      margin-bottom: 15px;

      @include laptop {
        margin-bottom: 25px;
      }
    }
  }

  form.search-form {
    display: flex;
    flex-wrap: nowrap;
    // width: calc(100% - 86px);

    label {
      width: calc(100% - 86px);
    }

    input.search-field {
      border-right: transparent;
      width: 100%;
    }

    input.search-submit {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;

    }
  }
}

.primary_pagination {
  span.page-numbers,
  a.page-numbers {
    padding: 4px 12px;
    background-color: #fff;
    transition: 0.3s;
    display: inline-block;
    margin: 0 3px;
  }

  a.page-numbers {
    &:hover,
    &:focus {
      background-color: $brand-hover;
      color: #fff;
    }
  }
}

span.rpwwt-post-title {
  font-family: $secondary-font;
  line-height: 1;
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.rpwwt-post-date {
  font-size: 13px;
  color: #999;
  font-style: italic;
}
