.blog-wrap {
  background-color: $offwhite;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.posts-container {
  padding: 0 0;

  @include mobile {
    padding: 0 15px;
  }

  h1 {
    margin-bottom: 30px;
  }

  .cardstyle,
  article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;

    @include laptop {
      padding: 25px;
      margin-bottom: 30px;
    }
  }

  article {
    .img-wrap {
      height: 150px;
      margin-bottom: 15px;

      @include laptop {
        height: 250px;
        margin-bottom: 25px;
      }
    }
  }

  .cardstyle {
    .widget {
      margin-bottom: 15px;

      @include laptop {
        margin-bottom: 25px;
      }
    }
  }

  form.search-form {
    display: flex;
    flex-wrap: nowrap;

    input.search-field {
      border-right: transparent;
    }

    input.search-submit {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      
    }
  }
}

.primary_pagination {
  span.page-numbers,
  a.page-numbers {
    padding: 4px 12px;
    background-color: #fff;
    transition: 0.3s;
    display: inline-block;
    margin: 0 3px;
  }

  a.page-numbers {
    &:hover,
    &:focus {
      background-color: $brand-hover;
      color: #fff;
    }
  }
}
