/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.gform_wrapper {
  h3.gform_title {
    margin: 0 0 6px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li.gfield select {
    height: 37px;
    border: 0;
    background-color: #efefef;
  }

  ul.gfield_checkbox {
    @include mobile {
      column-count: 2;
    }
  }

  table.gpnf-nested-entries {
    width: 100%;
  }

  li.recaptcha {
    label {
      display: none !important;
    }
  }

  li.gsection {
    position: relative;

    h2 {
      margin-top: 60px !important;

      &::before {
        display: block;
        position: absolute;
        content: " ";
        height: 15px;
        width: calc(100% + 70px);
        top: -30px;
        left: -25px;
        background-color: #ececec;
      }
    }
  }

  .gfield {
    margin-bottom: 15px;

    input,
    textarea {
      border: none;
      padding: 12px 10px;
      width: 100%;
      font-size: 16px;
      background-color: #efefef;
    }

    select {
      appearance: none;
      border-radius: 0 !important;
      position: relative;
    }

    textarea {
      height: 180px;
    }
  }

  input[type=radio] {
    margin-top: 0 !important;
  }

  #field_1_9 label {
    display: none;
  }

  .gform_footer {
    margin-top: 0;

    input[type=submit] {
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;

      @extend .btn;
      @extend .btn-primary;
    }
  }

  .g-recaptcha label {
    @extend .sr-only;
  }
}
