.gform_wrapper {
  ul {
    list-style: none;
    padding: 0;
  }

  .gfield {
    margin-bottom: 15px;

    input,
    textarea {
      border: none;
      padding: 12px 10px;
      width: 100%;
      font-size: 16px;
    }

    textarea {
      height: 180px;
    }
  }

  .gform_footer {
    input[type=submit] {
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;

      @extend .btn;
      @extend .btn-primary;
    }
  }

  .g-recaptcha label {
    @extend .sr-only;
  }
}
